<html lang="jp">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/blog_style.css">
    <link rel="stylesheet" href="../css/pc_style.css">
</head>

<body>
    <header class="media__header">
        <div class="header__logo">
            <a href="https://snowden-light.com">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <nav class="header__nav pc">
            <ul class="flex__item">
                <li class="nav__list">
                    <a href="" class="nav__link">HTML</a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav__link">CSS</a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav__link">JavaScript</a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav__link">PHP</a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav__link">MySQL</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="media-firstview">
            <h1 class="media__fv-ttl">Commit to the growth<br>for everyone</h1>
        </div>

        <div class="container">
            <p class="newpost__sub-ttl">New Post</p>
            <h2 class="newpost__ttl">記事一覧</h2>
            <div class="flex__item">
                <div class="article-wrap">
                    <div class="flex__item">
                        <a class="article__card"
                            href="">
                            <div class="article__card-eyecatch">
                                <img src="../blogImage/JAVA.jpg"/>
                            </div>
                            <span class="article__card-cat">
                                キャリア </span>

                            <div class="article__card-content">
                                <h3 class="article__card-content-ttl">プログラミングでフリーランスになるには??</h3>
                            </div>
                        </a>
                        <a class="article__card"
                        href="">
                        <div class="article__card-eyecatch">
                            <img src="../blogImage/JAVA.jpg"/>
                        </div>
                        <span class="article__card-cat">
                            キャリア </span>

                        <div class="article__card-content">
                            <h3 class="article__card-content-ttl">プログラミングでフリーランスになるには??</h3>
                        </div>
                    </a>
                    <a class="article__card"
                    href="">
                    <div class="article__card-eyecatch">
                        <img src="../blogImage/JAVA.jpg"/>
                    </div>
                    <span class="article__card-cat">
                        キャリア </span>

                    <div class="article__card-content">
                        <h3 class="article__card-content-ttl">プログラミングでフリーランスになるには??</h3>
                    </div>
                </a>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="category">
                        <h2 class="category__ttl">Category</h2>
                        <ul>
                            <li class="category__list"><a href=""
                                    class="category__link">HTML</a></li>
                            <li class="category__list"><a href=""
                                    class="category__link">CSS</a></li>
                            <li class="category__list"><a href=""
                                    class="category__link">JavaScrpt</a></li>
                            <li class="category__list"><a href=""
                                    class="category__link">PHP</a></li>
                            <li class="category__list"><a href=""
                                    class="category__link">MySQL</a></li>

                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>Copyright © 2022 izawa-Sample All Rights Reserved.</p>
    </footer>
</body>

</html>